/* УРОК №10 
 https://youtu.be/mQzcaM3UNRA  
 */

/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	/* body - это весь сайт и наш БЭМ блок будет гулять по всему сайту, по этому это хорошая зависимость - мы не можем выйти за пределы body.  */
	line-height: 1;
	/* color: #000; */
	/* font-family:""; */
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}
/* ------------------------------ */

p {
	background-color: #794f45;
	padding: 15px;
}

/*
Блок
НЕЗАВИСИМЫЙ объект.
НЕ влияет на окружение (внешние объекты).
*/

/*
В CSS обращаемся к БЭМ блоку
селектором первого уровня

.who-we-are { - всегда в css БЭМ блоки указываются именно вот так .who-we-are{} - селектором первого уровня, без того что они куда то вложены  
}
*/

/* Верно (независимость) */
.who-we-are {
	/* но что б он был полноценным блоком, в css мы должны НЕ УКАЗЫВАТЬ те свойства, которые как то нарушают эти 2 постулата - НЕЗАВИСИМЫЙ объект и НЕ влияет на окружение (внешние объекты). */
	background-color: #7a956b;
	color: #fff;

	/* Можно */
	padding: 15px; /* мы можем использовать внутрений, потому что мы работаем внутри комнаты - мы сдвигаем содержимое комнаты. Мы находимся внутри закрытого самодостаточного независимого простарнства.  */

	/* Нельзя */
	/* margin: 15px; Он влияет на окружение, потому что объект сдвигается. Для БЭМ блока мы не можем это применить.*/
	/* Все что касается внешних деталей объекта для блока - мы указывать не можем(не следует этого делать), так как мы нарушаем одно простое правило -  НЕЗАВИСИМЫЙ объект.
	Потому что внешние отступы зависят от окружения.
	 margin - это внешний отступ, за пределами блока. Мы находимся в комнате и внутри комнаты мы можем делать все что угодно, 
	 а margin находится за пределами комнаты - мы должны выйти из комнаты и там что нибудь сделать, построить забор, на пример. И этот забор уже находится за пределами комнаты и он уже влияет на что то снаружи комнаты.
	 Все что находится за пределами комнаты, мы не можем использовать, если мы объявили объект как  БЭМ блок.*/

	/* margin: 0px auto; фактически тоже под запретом для БЭМ блока. */

	/* Отступ между двумя БЭМ блоками - для этого нам поможет микс*/
}

/* В css мы обращаемся к этим всем div по первому уровню, не вкладываем именно в css, то есть мы их записываем как не зависимые объекты, каждого свой какой то стиль, не зависийший от того где он находится   */
.item {
}
.who-we-are {
}
.some-block {
}
.some-block-2 {
}
/* ----------------------------------------- */
.who-we-are__header {
	margin: 0px 0px 36px 0px;
}

.main-page__who-we-are {
	margin: 0px 0px 30px 0px;
}
/* ------------------- микс ----------------------- */
.who-we-are {
	background-color: #7a956b;
	color: #fff;
	padding: 15px;
}
.contacts__who-we-are {
	/* Блоку who-we-are мы не в коем случае не имеем право задавать отступы, но в ситуации когда этот блок находится внутри страницы либо другого блока contacts, 
						мы можем его сделать элементом этого блока, и поскольку это элемент - задать ему отступ  */
	margin: 0px 0px 100px 0px;
}
/* ------------------- --------- ----------------------- */

/* Модифицированный блок */
.who-we-are_purple {
	background-color: #77608d;
}

.who-we-are__title {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.who-we-are__title_margin-font {
	font-size: 50px;
	margin: 0px 0px 30px 0px;
}

.who-we-are__text {
}

/* Не верно (зависимость) */
.item .who-we-are {
	background-color: #7a956b;
}

.link {
	font-size: 20px;
	color: yellow;
}

/* Всё идет в один уровень вложености */
/* БЭМ блок */
.promice {
	/* Если мы называем блоки по тому какой контент в них, то как мы будем их быстро копировать, если на сайте структурно одинаковых блоков может быть несколько, а контент в них разный?
	 Тогда нам нужно их называть по структуре, а не по контенту. Если у нас блок promice есть еще где то на сайте, точно такой же, с таким же контентом, тогда мы его и переносим как  блок promice.
	 Но если мы хотим назвать конструктивно, контент на разных местах сайта разный, но конструкция одна, тогда нам нужно называть не по контенту, а по конструкции title, subtitle, row, column и т.д. */
}

.promice__header {
	margin: 0px 0px 68px 0px;
}

/* БЭМ элементы */
.promice__title {
	/* - это элемент не отъемлемый этого блока .promice  */
}
.promice__sub-title {
}
.promice__items {
}
.promice__item {
}
.promice__icon {
}
.promice__body {
}
.promice__label {
}
.promice__text {
}

/* БЭМ блок */
.item {
}
/* БЭМ элементы */
.item__icon {
}
.item__body {
}
.item__label {
}
.item__text {
}

.header-item {
}
.header-item__title {
}
.header-item__sub-title {
}

.item-promice {
}
.item-promice__icon {
}
.item-promice__body {
}
.item-promice__title {
}
.item-promice__text {
}

.some-block {
}

.some-block__title {
}
.some-block__text {
}

.block {
	border: 1px solid #000;
	padding: 15px;
	background-color: #794f45;
}
.block__title {
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.block__text {
}

._container {
	max-width: 500px;
	margin: 0px auto;
}

.page {
}
.page__title {
}
.page__text {
}
