//====================================================================================================
.screen {
	position: relative;
	min-height: 100vh;
	&:nth-child(1) {
		background-color: #794f45;
	}
	&:nth-child(2) {
		background-color: #77608d;
	}
	&:nth-child(3) {
		background-color: #7a956b;
	}
	// .screen__item
	&__item {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #7a956b;
		width: 150px;
		height: 150px;
	}
}
//====================================================================================================
